
08_12_2020/.DS_Store
08_12_2020/__pycache__/product.cpython-39.pyc
08_12_2020/__pycache__/category.cpython-39.pyc
08_12_2020/__pycache__/functions.cpython-39.pyc
08_12_2020/__pycache__/menu.cpython-39.pyc
.DS_Store
21_12_2020/__pycache__/function.cpython-39.pyc
.DS_Store
22_12_2020/__pycache__/functions.cpython-39.pyc
.DS_Store
