{%extends 'base.html'%}
{%block body%}
<section class="hero is-medium is-link is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Marketplaces <b>olist</b>
            </h1>
            <h2 class="subtitle">
                Escolha sua opção abaixo
            </h2>
            <div class="buttons">
                <a class="button is-primary is-rounded" href="/marketplace"> Marketplaces</a>
                <a class="button is-primary is-rounded" href="/categorias"> Categorias</a>
                <a class="button is-primary is-rounded" href="/subcategorias"> Sub Categorias</a>
            </div>
            <div class="buttons">
                <form action="/register">
                    <button type="submit" class="button is-rounded" value="marketplace" name="option">Novo
                        Marketplace</button>
                    <button class="button is-rounded" value="category" name="option">Nova Categoria</button>
                    <button class="button is-rounded" value="subcategory" name="option">Nova Sub Categoria</button>
                </form>
            </div>
        </div>
    </div>
</section>
{%endblock%}